/* CSS Document */

.advantages{
	font-family: Helvetica, 'sans-serif';
	color: black;
	background-color: white;
	text-align: center;
}
.header_adv{
	margin-top: 50px;
	margin-bottom: 20px;
	color: #0077c2;
	font-weight: 600;
}
.adv_card{
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
	margin: 15px;
	width: 255px;
	padding-bottom: 45px;
	transition: all 0.3s ease-in;
}
.adv_card:hover{
	-webkit-transform: scale(1.001);
  -ms-transform: scale(1.001);
  transform: scale(1.001);
	-webkit-box-shadow: 0px 0px 20px -2px rgba(127, 123, 123, 0.5);
	-moz-box-shadow: 0px 0px 20px -2px rgba(127, 123, 123, 0.5);
	box-shadow: 0px 0px 20px -2px rgba(127, 123, 123, 0.5);
	border-radius: 10px;
}
.adv_card h3{
	font-family: Arial, "sans-serif";
	letter-spacing: -0.05em;
	margin-top: 22px;
}
.adv_card p{
	
	margin-top: 35px;
	color: #a5a5a5;
}
.adv_card img{
	margin-top: 40px;
}