/* CSS Document */

.how_to{
	background: linear-gradient(to right, #003686, #8875e6);
	align-content: center;
}
.how_to h4{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2.3em;
	color: white;
	text-align: center;
	margin-top: 35px;
}
.how_to p{
	color: white;
	margin-top: 60px;
	font-size: 0.9em;
}
.how_to button{
	position: relative;
	left: 35%;
	height: 50px;
	background-color: #2190d7;
	color: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 45px;
	border: 1px #a3a3a3 solid;
	transition: 0.5s;	
}
.how_to button:hover{
	border:1px white solid;
	background-color: white;
	color: #1e4b8e;
}