/* CSS Document */

nav li{
	margin-right: 15px;
}
.register{
	display: flex;
	list-style: none;
	padding-top: 8px;
	float: right;
	
}
.register a{
	background: #ebb701;
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	font-size: 600;
	transition: 0.5s;
}
.register a:hover{
	background: white;
	color: #ebb701;
	border: 1px/ solid #656565;
}

.navi{
	background-color: #656565;
	color: white;
}
li a{
	color: white;
	font-size: 18px;
	transition: 0.5s;
}
li a:hover{
	background: #ebb701;
	border-radius: 3px;
	color: white;
}
.navbar i{
	color: white;
}
.dropdown-menu a{
	color: black;
}
.header{
	background-color: rgba(0,27,244,0.70);
	background: linear-gradient(to right, #002458, #2263c1);
}
.header a{
	color: black;
}
.header .form-control{
	width: 300px;
}
.header button{
	border-radius: 3px;
	border: 1px solid white;
	color: white;
	margin: 0 5px;
	transition: 0.5s;
}
.header button:hover{
	border: 1px solid #ebb701;
	background: #ebb701;
	color: #2263c1;
}

/* carousel */
.nav_capture{
	position: relative;
	bottom: 260px;
	text-align: center;
	display: block;

}
.capture_head{
	margin-left: 15%;
	margin-right: 15%;
	font-size: 3em;
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-family: Kefa;
}
.capture_btn{
	display: flex;
	justify-content: space-between;
	
}
.capture_btn button{
	margin-top: 94px;
	justify-content: space-around;
	font-weight: 800;
	border-radius: 3px;
	background-color: #ebb701;
	border: 1px white solid;
	color: #003082;
	font-size: 13px;
	padding: 10px 25px;
	transition: 0.3s;
}
.capture_btn button:hover{
	background-color: white;	
	border: 1px solid #ebb701;
}
/*Shipping easy*/

/*.ship_easy button{
	font-weight: 800;
	background-color: rgba(251,185,22,0.80);
	border: 1px rgba(59,59,59,1.00) solid;
	font-size: 1em;
	margin-top: 40px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}*/
.ship_easy p{
	
}
.ship_easy i{
	margin: 30px 0;
	font-size: 3.5em;
}
.ship_easy{
	font-size: 1em;
	color: rgba(76,94,247,1.00);
	font-weight: 500;
	transition: 0.3s;
}
.ship_easy .card-body{
	background: #f0eee2;
	border-radius: 5px;
	transition: 0.3s;
}
.ship_easy .card-body:hover{
	background: linear-gradient(to bottom, #ebb701, #ec9601);
	color: white;
	box-shadow: none;
}
.section_header{
	font-size: 3em;
	font-weight: 500;
	color: #2262c0;
	padding-bottom: 40px;
	margin-top: -200px;
	font-family: Kefa;
}
/*Categories*/
.categories_header{
	font-size: 3em;
	font-weight: 500;
	color: #2262c0;
	padding-bottom: 40px;
	margin-top: 30px;
	font-family: Kefa;
}
.card-body button{
	font-weight: 500;
	font-size: 1em;
	margin-top: 20px;
	background: #2263c1;
	border: 1px solid #2263c1;
	border-radius: 5px;
	padding: 5px 18px;
	color: white;
}
.card-body button:hover{	
	background: #ebb701;
	border: 1px solid #ebb701;
}
.card-text{
	margin-top: -8px;
	font-size: 1em;
	;
	;
	font-weight: 500;
	color: #2262c0;
}
.card-body img{
	width: 90%;
}
.card{
	margin-bottom: 15px;
	border: none;
	transition: 0.3s;
}
.card img{
	
}
.card:hover{
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}
/*hot deals*/
.card-header{
	background-color: white;
	border: none;
	font-size: 1.2em;
	font-weight: 500;
	text-align: center;
	color: #2262C0;
}
.how-to iframe{
	width: 804px;
	height: 453px;
}



@media (min-width: 992.1px) and (max-width: 1199px){
	.nav_capture{
	bottom: 267px;
	}
	.capture_btn button{
	margin-top: 46px;
	}
}
@media (min-width:768.1px) and (max-width: 992px){
	.nav_capture{
	bottom: 217px;
	}
	.capture_btn button{
	margin-top: -9px;
	}
	.how-to iframe{
	width: 658px;
	height: 371px;
}
	.card-body img{
	width: 90%;
}
}
@media (min-width:577px) and (max-width: 768px){
	.capture_head{
		font-size: 2em;
	}
	.nav_capture{
	bottom: 159px;
	}
	.capture_btn button{
	margin-top: -14px;
	}
	.section_header{
	margin-top: -144px;
	margin-bottom: -28px;
	}
	.how-to iframe{
	width: 486px;
	height: 277px;
}
}
@media (min-width: 320px) and (max-width: 576px){
	.capture_head{
	font-size: 0.9em;
	}
	.nav_capture{
	bottom: 85px;
	}
	.capture_btn button{
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-top: -14px;
	}
	.section_header{
	margin-top: -45px;
	margin-bottom: -42px;
	font-size: 2em;
	}
	.ship_easy p{
	margin-top: 22px;
	height: 50px;
}
	.header .form-control{
	width: 275px;
	}
	.categories_header{
	font-size: 2em;
	margin-bottom: -30px;
	}
	.how-to iframe{
	width: 257px;
	height: 147px;
}
}


@media screen and (max-width: 319px){
	.capture_head{
	font-size: 20px;
	margin-bottom: -10px;
	}
	.nav_capture{
	bottom: 78px;
	}
	.capture_btn{
	font-size: 7px;
	}
	.capture_btn button{
	font-size: 11px;
	font-weight: 400;
	}
	.section_header{
	margin-top: -144px;
	margin-bottom: -28px;
	}
	.header .form-control{
	width: 275px;
	}
}
footer{
	background-color: #002358;
	height: 100px;
	padding-top: 40px;
}

footer a{
	color: white;
	text-align: center;
	margin-right: 10px;
	font-size: 14px;
}
.type_registr{
	height: 130px;
}
.type_registr:hover{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	border: 1px solid white;
	border-radius: 5px;
	
}
.type_registr p{
	color: #2262c0;
	margin-bottom: 0;
}
.type_registr i{
	font-size: 6em;
	color: #2262c0;
	margin-top: 5px;
}
@font-face {
    font-family: Kefa; /* Имя шрифта */
    src: url("../fonts/Kefa-Regular.TTF"); /* Путь к файлу со шрифтом */
   }
