a, a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
header {
	background-image: linear-gradient(to right, #002358, #003686);
	height: 60px;
}
.logo{
	margin-left: 10%;
	padding-top: 16px;
}
.main__nav{
	
}
nav{
	display: flex;
	overflow: hidden;
}
ul{
	margin-left: 9%;
	display: flex;
}
li{
	display: flex;
}
li a{
	color: white;
	padding-top: 16px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 17px;
	font-size: 18px;
	transition: 0.5s;
}
li a:hover{
	background: white;
	color: #003686;
}
.reg_btn{
	margin-left: 6%;
}
.lang{
	color: white;
	margin-left: 30%;
}
