/* CSS Document */
.price{
	font-family: Helvetica, 'sans-serif';
	color: black;
	background-color: white;
	text-align: center;
}
.price_btn{
	width: 285px;
	margin-right: 10px;
	margin-top: 0px;
}
.price_btn button{
	background-color: white;
	border: 1px #FFFFFF solid;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px -2px rgba(196,196,196,1);
	-moz-box-shadow: 0px 0px 8px -2px rgba(196,196,196,1);
	box-shadow: 0px 0px 8px -2px rgba(196,196,196,1);
	margin-top: 50px;
	display: inline-block;
	justify-content: space-between;
	height: 85px;
	width: 285px;
	transition: 0.5s;
}
.price_btn button:first-child{
	margin-top: 0;
}
.price_btn img{
	margin-right: 48px;
}
.price_btn span{
	margin-right: 48px;
}
.price_btn button:hover, .price_btn button:active{
	background: linear-gradient(to right, #0077c2, #26a2d5);
	border: none;
}
.price_form{
	background: linear-gradient(to right, #26a2d5, #7b7ae3);
	color: white;
	border: 1px #FFFFFF solid;
	border-radius: 5px;
	width: 325px;
	padding: 5px;
	margin-right: 10px;
}
.form-control{
	background:rgba(255,255,255,0.00);
}
.price_calc div{
	text-align: left;
	border-bottom: 2px white solid;
	margin-top: 20px;
}
.price_calc p, span{
	display:inline-block;
	margin-bottom: 2px;
}
.form-group{
	margin-bottom: 1px;
}
.map{
	width: 475px;
	height: 360px;
	margin-right: 0;
	border-radius: 5px;
}
.left{
	float: left;
}
.right{
	float: right;
}