/* CSS Document */
.carousel-caption {
	bottom: 5%;
	color: white;
	padding: 0;
}
.carousel-caption p{
	font-size: 1.8em;
	font-family: 'Libre Baskerville', serif;
	padding: 10px;
	background-color: rgba(6,1,1,0.45);
}
.slider_btn{
	float: right;
	width: 220px;
	height: 50px;
	background-color: #2190d7;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-right: 10px;
	border: 1px #a3a3a3 solid;
	transition: 0.5s;
}
.slider_btn:hover{
	border: 1px white solid;
	background-color: white;
	color: #1e4b8e;
}